
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
.php_cs.cache
.project
.settings
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
