{% extends "AppBundle:Default:base.html.twig" %}
{% block content %}

{% if invalidUser %}
    <h1>Something went wrong! We can't find the user who should be responsible for the new Todo.</h1>
    <p class="alert alert-warning">
        <strong>Please try again by selecting a user from the <a href="{{ path('page::user-list') }}">user list</a>!</strong>
    </p>
{% else %}
    <h1>Add a new Todo</h1>
    <user-todo-form></user-todo-form>
{% endif %}

{% endblock %}
{% block javascripts %}
    {% if not invalidUser %}
    <script>
        {{ riotTag('AppBundle:Default:riot-user-todo-form.html.twig') }}

        var UserTodoForm = ProophRiot.App.create({
            userId : '{{ user.id }}',
            userName : '{{ user.name }}',
        });

        $(function () {
            UserTodoForm.bootstrap("user-todo-form").ready();
        });
    </script>
    {% endif %}
{% endblock %}
